/**
 * About page styles
 */
.about-page {
  .header {
    padding-left: 0;
    .logo {
      margin-left: 30px;
    }
    .link-line {
      color: $color-1--1;
      .link-line__overflow {
        &::before,
        &::after {
          background: $color-1--1;
        }
      }
      .link-line__text {
        color: $color-1--1;
      }
    }
  }
}

/**
 * About block
 */
.about {
  padding: 28px 0 70px;
  @include clearfix;
  &__container {
    width: 75%;
    max-width: 1368px;
    @include flex-box(row, space-between, flex-start);
    float: right;
    padding: 0 0 0 25px;
    margin-right: 9%;
    @include respond-to(desktop) {
      width: 100%;
      float: none;
      padding: 0 3% 0 11%;
      margin-right: 0;
    }
    @include respond-to(tablet) {
      padding: 0 0 0 25px;
    }
  }
  &__text {
    width: 53%;
    color: $font-color-3;
    padding-top: 80px;
    p {
      font-size: $font-size-big - 4;
      line-height: $font-size-big + 14;
      margin-bottom: 20px;
      @include respond-to(desktop) {
        font-size: $font-size + 4;
        line-height: $font-size-lg - 4;
        margin-bottom: 15px;
      }
    }
  }
  &__title {
    font-size: $font-size-most-large;
    color: $color-3--2;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
    @include respond-to(desktop) {
      font-size: $font-size-st + 8;
      margin-bottom: 30px;
    }
    span {
      display: block;
      position: relative;
      z-index: 3;
    }
    &::before, &::after {
      content: '';
      width: 374px;
      background: $color-1--1;
      position: absolute;
    }
    &::before {
      height: 270px;
      top: -20px;
      left: -28px;
      opacity: .3;
      z-index: 2;
    }
    &::after {
      height: 173px;
      top: -55px;
      left: 80px;
      opacity: .3;
      z-index: 1;
    }
    @include respond-to(desktop) {
      &::before, &::after {
        width: 330px;
      }
      &::before {
        height: 200px;
      }
      &::after {
        height: 152px;
        top: -65px;
      }
    }
  }
  &__photo {
    img {
      width: 100%;
    }
  }
}

@include respond-to(tablet2) {
  .about {
    &__container {
      flex-wrap: wrap-reverse;
    }
    &__text {
      width: 100%;
    }
    &__photo {
      width: 100%;
      margin-bottom: -47%;
    }
  }
}
@include respond-to(mobile) {
  .about-page {
    .header {
      .logo {
        display: none;
      }
      .logo-mobile {
        display: block;
        margin-left: 20px;
      }
    }
  }
  .about {
    &__container {
      padding: 0;
    }
    &__photo {
      overflow: hidden;
      img {
        position: relative;
        right: -23%;
      }
    }
    &__text {
      overflow: hidden;
      p {
        font-size: $font-size + 2;
        line-height: $font-size-big + 4;
        padding: 0 10px;
      }
    }
    &__title {
      font-size: 38px;
      padding: 0 10px;
      &::after,
      &::before {
        width: 100%;
      }
      &::before {
        left: 0;
      }
      &::after {
        left: 58px;
      }
    }
  }
}