/**
 * Main header
 */
.header {
  padding-top: 32px;
  position: relative;
  a {
    font-size: $font-size-big;
    display: inline-block;
  }
  &.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .home {
      display: block;
    }
    .logo {
      display: block;
      margin: 0 auto;
      animation: ease-in-out fade-in-scale 1s;
      transition-delay: 1s;
    }
  }
  .logo {
    width: 300px;
    padding-left: 1px;
    margin-left: 68px;
    animation: linear fade-in 1.5s;
    transition-delay: 2s;
  }
  .home,
  .about {
    position: fixed;
    top: 65px;
    right: 0;
    animation: linear fade-in 1.5s;
    transition-delay: 2s;
  }
  .home {
    display: none;
    right: inherit;
    left: 0;
    transition-duration: 1s;
    transition-delay: .5s;
  }
  .about {
    width: 284px;
  }
}
