.header {
  @include flex-box(row, space-between, center);
  padding-top: 100px;
  &.fixed {
    display: block;
  }
  .home {
    display: none;
  }
  .logo {
    width: 300px;
    padding-left: 4px;
    margin-left: 86px;
  }
  a {
    font-size: $font-size-big - 4;
  }
}
