/**
 * Styles for Logbook project page
 */
.logbook-project-page {
  .home-section {
    margin-bottom: 12%;
  }
  .container {
    box-sizing: border-box;
  }
  .project-logbook {
    padding: 10% 0 0;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: '';
      width: 30%;
      background: url('../images/logbook/blot.png') 0 0 no-repeat;
      background-size: cover;
      padding: 13.8% 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .logbook-kia {
      top: 24%;
    }
    .project__bg {
      height: 100%;
      bottom: 100px;
      border-bottom: 1px solid $color-3--1;
    }
    &.active {
      .project__canvas {
        &::after {
          background: none;
          box-shadow: none;
        }
      }
      .project__bg {
        opacity: 1;
      }
    }
  }
  .project__wrap {
    float: none;
    padding-left: 11%;
    margin: 0 auto 63px;
  }
  .project__img-holder {
    max-width: 636px;
    padding-left: 0;
    img {
      width: 100%;
    }
  }
  .intro-box {
    max-width: 460px;
  }
  .scroll-line {
    margin-top: -80px;
  }
  .title-row {
    @include flex-box(row, space-between, flex-start);
    margin-bottom: 10%;
    .img-block {
      width: 25%;
      padding-top: 20px;
      img {
        width: 100%;
        margin-left: 1px;
      }
    }
    .text-block {
      width: 50%;
      p {
        margin-bottom: 40px;
      }
    }
  }
  .fit-for {
    background: $color-3--4;
    &__container {
      @include flex-box(row, center, center);
      box-shadow: 0 0 18px 3px darken($color-3--4, 15%);
      overflow: hidden;
      padding: 0 76px;
      & > * {
        flex: 1 1 50%;
        padding-top: 160px;
        padding-bottom: 160px;
      }
    }
    &__title {
      font-family: $font-light;
      font-size: $font-size-big + 4;
      color: $color-3--2;
      &--mobile {
        display: none;
      }
    }
    .left-col {
      picture {
        position: relative;
        z-index: 1;
      }
      .fit-for__title {
        margin-bottom: 84px;
      }
    }
    .right-col {
      box-shadow: -21px 0 18px -15px darken($color-3--4, 10%);
      .fit-for__title {
        text-align: right;
        margin-top: 84px;
      }
    }
    picture,
    img {
      width: 100%;
      display: block;
    }
  }
  .logo-icons {
    position: relative;
    padding-top: 16.5%;
    margin-bottom: 219px;
    &::before {
      content: '';
      width: 21%;
      background: url('../images/logbook/blot-2.png') 0 0 no-repeat;
      background-size: cover;
      padding: 12% 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    .title-row {
      @include flex-box(row, space-between, flex-start);
      margin-bottom: 0;
    }
    .text-block {
      width: 40%;
    }
    .icon-block {
      width: 274px;
      img {
        width: 100%;
      }
    }
  }
  .car-block {
    background: $color-white;
    box-shadow: 0 0 18px 3px darken($color-3--4, 15%);
    margin-bottom: 158px;
    position: relative;
    &__container {
      max-width: 1310px;
      margin: 0 auto;
    }
  }
  .car-img {
    width: 35%;
    max-width: 636px;
    min-width: 300px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -120px;
    right: 0;
    left: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  .car-icons {
    $icons-space: 40px;
    @include flex-box(row, center, center);
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    z-index: 1;
    &__item {
      width: 147px;
      height: 147px;
      @include flex-box(row, center, center);
      vertical-align: top;
      border: 1px solid $color-3--2;
      box-shadow: 0 0 3px 0 $color-3--2;
      padding: 20px 10px;
      margin: 16.5px;
    }
  }
  .style-guide {
    margin-bottom: 10%;
    .title-row {
      margin-bottom: 9%;
    }
    .colors-blocks {
      padding: 0;
      margin-bottom: 18%;
      &__item-1 {
        .colors-blocks__circle {
          border-color: $color-2--1;
          background: $color-2--1;
        }
      }
      &__item-2 {
        .colors-blocks__circle {
          border-color: $color-2--3;
          background: $color-2--3;
        }
      }
      &__item-3 {
        .colors-blocks__circle {
          background: $color-3--4;
        }
      }
    }
    .font-block {
      @include clearfix;
      margin-bottom: 15px;
      .project-description-title {
        text-align: center;
        padding-left: 12.5%;
        margin-bottom: 68px;
      }
      &__text-box--bold {
        max-width: 630px;
        &:last-child {
          float: right;
          margin-top: 40px;
        }
      }
    }
  }
  .font-block-holder {
    position: relative;
    &::before {
      content: '';
      width: 30%;
      padding: 24% 0;
      background: url('../images/logbook/blot-3.png') 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      top: -36%;
      right: 0;
    }
  }
  .navbar-style {
    .project-description-title {
      margin-bottom: 90px;
    }
    .img-holder {
      display: block;
      box-shadow: 0 0 18px 3px darken($color-3--4, 15%);
      img {
        width: 100%;
      }
    }
  }
  .landscape {
    position: relative;
    &::before {
      content: '';
      width: 25.7%;
      padding: 22% 0;
      background: url('../images/logbook/blot-4.png') 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -22%;
      left: 0;
      z-index: -1;
    }
    &__img {
      display: block;
      margin: 0 -10px 13%;
      img {
        width: 100%;
      }
    }
  }
}

@include respond-to(desktop) {
  .logbook-project-page {
    .logo-icons {
      margin-bottom: 120px;
    }
    .car-icons {
      max-width: 945px;
      margin: 0 auto;
      &__item {
        margin: 13.5px;
      }
    }
    .font-block-holder {
      &::before {
        top: 0;
      }
    }
    .style-guide {
      .colors-blocks__item {
        min-width: inherit;
        width: 25%;
        &:not(:last-child) {
          margin-right: 12%;
        }
      }
      .font-block {
        .project-description-title {
          padding-left: 17.8%;
        }
        &__text-box--bold {
          width: 50%;
        }
      }
    }
  }
}

@include respond-to(tablet) {
  .logbook-project-page {
    .scroll-line {
      margin-top: 0;
    }
    .fit-for {
      &__container {
        padding: 0 50px;
        & > * {
          padding-top: 100px;
          padding-bottom: 100px;
        }
      }
    }
    .car-img {
      top: -85px;
    }
    .car-icons {
      max-width: 640px;
    }
    .style-guide {
      .colors-blocks__item {
        &:not(:last-child) {
          margin-right: 32px;
        }
      }
      .font-block {
        .project-description-title {
          padding-left: 22.5%;
        }
      }
    }
  }
}

@include respond-to(tablet2) {
  .logbook-project-page {
    .project-logbook {
      .logbook-kia {
        display: none;
      }
      .project__content {
        margin-left: 0;
      }
    }
    .style-guide {
      .colors-blocks__item {
        &:not(:last-child) {
          margin-right: 4px;
        }
      }
      .font-block {
        margin-bottom: 50px;
        .project-description-title {
          padding-left: 13.9%;
        }
        &__text-box--bold {
          &:last-child {
            float: none;
            margin: 0 0 22px;
          }
        }
      }
    }
    .navbar-style {
      .project-description-title {
        margin-bottom: 50px;
      }
    }
    .fit-for {
      &__container {
        padding: 0 30px;
        & > * {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
    }
  }
}

@include respond-to(mobile) {
  .logbook-project-page {
    .project__wrap {
      padding-left: 27%;
    }
    .project__img-holder {
      max-width: inherit;
      width: 65%;
    }
    .title-row--top {
      display: block;
      max-width: 480px;
      padding: 0;
      margin: 50px auto 100px;
      position: relative;
      .img-block {
        width: 100%;
        max-width: 300px;
        opacity: .1;
        padding-top: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;
      }
      .text-block {
        width: 100%;
      }
    }
    .fit-for {
      .left-col {
        .fit-for__title {
          margin-bottom: 47px;
        }
      }
      .right-col {
        .fit-for__title {
          margin-top: 47px;
        }
      }
    }
    .style-guide {
      .font-block {
        .project-description-title {
          text-align: left;
          padding-left: 0;
        }
      }
    }
  }
}

@include respond-to(small) {
  .logbook-project-page {
    .project__wrap {
      padding-left: 24px;
      margin-bottom: 42px;
    }
    .project-logbook {
      padding-top: 96px;
      margin-bottom: 65px;
      &::after {
        width: 47.9%;
        padding: 22% 0;
      }
      .project__bg {
        bottom: 60px;
      }
    }
    .project__img-holder {
      width: 224px;
      margin: 0;
    }
    .fit-for{
      .container {
        padding: 0;
      }
      &__container {
        display: block;
        padding: 0;
        & > * {
          width: 300px;
          padding-top: 48px;
          padding-bottom: 48px;
        }
      }
      .fit-for__title {
        font-size: 18px;
      }
      .left-col {
        float: right;
        box-shadow: 0 0 18px 3px darken($color-3--4, 15%);
        padding-left: 30px;
        .fit-for__title {
          margin-bottom: 24px;
        }
      }
      .right-col {
        float: left;
        box-shadow: 0 0 18px 3px darken($color-3--4, 15%);
        padding-right: 30px;
        .fit-for__title {
          display: none;
          &--mobile {
            display: block;
            margin-top: 0;
            margin-bottom: 24px;
          }
        }
      }
    }
    .logo-icons {
      padding-top: 28px;
      position: relative;
      &::before {
        width: 74.5%;
        padding: 30.9% 0;
      }
      .text-block {
        margin-top: 55%;
      }
      .icon-block {
        width: 136px;
        margin: 0;
        position: absolute;
        top: 28px;
        right: 10px;
      }
    }
    .title-row {
      display: block;
      .text-block {
        width: 100%;
        p {
          margin-bottom: 15px;
        }
      }
    }
    .car-block {
      margin-bottom: 62px;
    }
    .car-icons {
      padding: 20px 0;
      &__item {
        width: 140px;
        height: 140px;
        margin: 6px;
      }
    }
    .landscape {
      padding-bottom: 1px;
      &::before {
        width: 55%;
        padding: 43% 0;
        bottom: 20px;
      }
    }
  }
}
