/**
 * Main wrapper
 */
.wrapper {
  height: 100%;
  position: relative;
  z-index: 2;
}

/**
 * Base container
 */
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

/**
 * Animated link with line
 */
.link-line {
  width: 274px;
  display: inline-block;
  font-size: $font-size-big;
  color: $color-3--2;
  overflow: hidden;
  padding: 10px 0;
  transition: all .2s cubic-bezier(.19, 1, .22, 1);
  &.link-line--right {
    text-align: left;
    padding-left: 10px;
    right: 0;
    &:hover {
      .link-line__overflow {
        &::before {
          transform: translate3d(-100px, 8px, 0);
        }
        &::after {
          transform: translate3d(2px, 8px, 0);
        }
      }
      .link-line__text {
        transform: translate3d(-10px, 0, 0);
      }
    }
    .link-line__overflow {
      transition: all .3s cubic-bezier(.19, 1, .22, 1);
      &::after,
      &::before {
        transition: all .3s cubic-bezier(.77, 0, .175, 1);
        left: 100%;
      }
      &::before {
        transform: translate3d(15px, 8px, 0);
      }
      &::after {
        transform: translate3d(247px, 8px, 0);
      }
    }
    .link-line__text {
      transition: all .3s cubic-bezier(.19, 1, .22, 1), transform .8s cubic-bezier(.77, 0, .175, 1);
    }
  }
  &.link-line--left {
    text-align: right;
    padding-right: 10px;
    left: 0;
    &:hover {
      .link-line__overflow {
        &::before {
          transform: translate3d(100px, 8px, 0);
        }
        &::after {
          transform: translate3d(2px, 8px, 0);
        }
      }
      .link-line__text {
        transform: translate3d(10px, 0, 0);
      }
    }
    .link-line__overflow {
      transition: all .3s cubic-bezier(.19, 1, .22, 1);
      &::after,
      &::before {
        transition: all .3s cubic-bezier(.77, 0, .175, 1);
        right: 100%;
      }
      &::before {
        transform: translate3d(-15px, 8px, 0);
      }
      &::after {
        transform: translate3d(-247px, 8px, 0);
      }
    }
    .link-line__text {
      transition: all .3s cubic-bezier(.19, 1, .22, 1), transform .8s cubic-bezier(.77, 0, .175, 1);
    }
  }
  &:hover {
    color: $color-1--1;
    .link-line__overflow {
      &::before,
      &::after {
        display: block;
        background: $color-1--1;
      }
      &::before {
        width: 0;
      }
      &::after {
        width: 205px;
      }
    }
    .link-line__text {
      color: $color-1--1;
    }
  }
  &__overflow {
    height: 18px;
    position: relative;
    &::after,
    &::before {
      content: "";
      width: 192px;
      height: 2px;
      vertical-align: middle;
      background: $color-3--2;
      transition-delay: .5s;
      position: absolute;
      top: 5px;
      z-index: 1;
    }
    &::before {
      transform: translate3d(15px, 8px, 0);
    }
    &::after {
      transform: translate3d(155px, 8px, 0);
    }
  }
  &__text {
    display: inline-block;
    font-family: $font-regular;
    line-height: 14px;
  }
}

/**
 * Main title
 */
.main-title-holder {
  padding: 18.5% 15px 8% 8%;
  .main-title {
    max-width: 842px;
    margin: 0 auto;
    span {
      display: inline-block;
    }
  }
}

/**
 * Site sections styles
 */
.site-section {
  h1 {
    font-size: $font-size-st;
    line-height: $font-size-st + 23;
  }
  h2 {
    font-size: $font-size-st;
    line-height: $font-size-st + 10;
    color: $color-1--1;
    margin-bottom: 15px;
  }
  h5 {
    font-size: $font-size-big;
    color: $color-1--2;
    margin-bottom: 10px;
  }
}

.home-section {
  margin-bottom: 22%;
}

