/**
 * Main wrapper
 */
.wrapper {
  height: 100%;
  position: relative;
  z-index: 2;
}

/**
 * Base container
 */
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 25px;
  margin: 0 auto;
  &--resize {
    width: 70%;
  }
  @include respond-to(tablet) {
    padding: 0 10px;
    &--resize {
      width: 100%;
    }
  }
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

/**
 * Animated link with line
 */
.link-line {
  width: 274px;
  display: inline-block;
  font-size: $font-size-big;
  @include respond-to(mobile) {
    font-size: $font-size;
  }
  color: $color-3--2;
  overflow: hidden;
  padding: 10px 0;
  transition: all .2s cubic-bezier(.19, 1, .22, 1);
  @include respond-to(desktop) {
    width: 235px;
  }
  @include respond-to(mobile) {
    width: 65px;
  }
  &.link-line--right {
    text-align: left;
    padding-left: 10px;
    right: 0;
    &:hover {
      .link-line__overflow {
        &::before {
          transform: translate3d(-100px, 8px, 0);
        }
        &::after {
          transform: translate3d(2px, 8px, 0);
        }
      }
      .link-line__text {
        transform: translate3d(-10px, 0, 0);
      }
    }
    .link-line__overflow {
      transition: all .3s cubic-bezier(.19, 1, .22, 1);
      &::after,
      &::before {
        transition: all .3s cubic-bezier(.77, 0, .175, 1);
        left: 100%;
        @include respond-to(mobile) {
          left: 81%;
        }
      }
      &::before {
        transform: translate3d(15px, 8px, 0);
      }
      &::after {
        transform: translate3d(247px, 8px, 0);
      }
    }
    .link-line__text {
      transition: all .3s cubic-bezier(.19, 1, .22, 1), transform .8s cubic-bezier(.77, 0, .175, 1);
    }
  }
  &.link-line--left {
    text-align: right;
    padding-right: 10px;
    left: 0;
    &:hover {
      .link-line__overflow {
        &::before {
          transform: translate3d(100px, 8px, 0);
        }
        &::after {
          transform: translate3d(2px, 8px, 0);
        }
      }
      .link-line__text {
        transform: translate3d(10px, 0, 0);
      }
    }
    .link-line__overflow {
      transition: all .3s cubic-bezier(.19, 1, .22, 1);
      &::after,
      &::before {
        transition: all .3s cubic-bezier(.77, 0, .175, 1);
        right: 100%;
        @include respond-to(mobile) {
          right: 81%;
        }
      }
      &::before {
        transform: translate3d(-15px, 8px, 0);
      }
      &::after {
        transform: translate3d(-247px, 8px, 0);
      }
    }
    .link-line__text {
      transition: all .3s cubic-bezier(.19, 1, .22, 1), transform .8s cubic-bezier(.77, 0, .175, 1);
    }
  }
  &:hover {
    color: $color-1--1;
    .link-line__overflow {
      &::before,
      &::after {
        display: block;
        background: $color-1--1;
      }
      &::before {
        width: 0;
      }
      &::after {
        width: 205px;
      }
    }
    .link-line__text {
      color: $color-1--1;
    }
  }
  &__overflow {
    height: 18px;
    position: relative;
    &::after,
    &::before {
      content: '';
      width: 192px;
      height: 2px;
      vertical-align: middle;
      background: lighten($color-3--1, 6%);
      transition-delay: .5s;
      position: absolute;
      top: 5px;
      z-index: 1;
      @include respond-to(desktop) {
        width: 145px;
      }
      @include respond-to(mobile) {
        width: 8px;
        height: 1px;
        top: 0;
      }
    }
    &::before {
      transform: translate3d(15px, 8px, 0);
    }
    &::after {
      transform: translate3d(155px, 8px, 0);
    }
  }
  &__text {
    display: inline-block;
    line-height: 14px;
  }
}

/**
 * Main title
 */
.main-title-holder {
  padding: 18.5% 15px 8% 13.5%;
  @include respond-to(desktop) {
    padding: 24% 15px 8% 17%;
  }
  @include respond-to(tablet) {
    max-width: 580px;
  }
  .main-title {
    max-width: 842px;
    margin: 0 auto;
    span {
      display: inline-block;
    }
  }
  @include respond-to(mobile) {
    max-width: 370px;
    padding: 228px 5px 60px 10px;
    h1 {
      font-size: $font-size-big - 1;
      line-height: $font-size-lg - 3;
    }
  }
}

.home-section {
  margin-bottom: 22%;
  @include respond-to(mobile) {
    margin-bottom: 80px;
  }
}
