/**
 * Base projects styles
 */
.project {
  position: relative;
  margin-bottom: 100px;
  &:hover, &.active {
    .link-line {
      opacity: 1;
    }
  }
  &.active {
    .project__bg {
      display: block;
    }
    .project__canvas {
      box-shadow: none;
      background-color: rgba($color-2--2, 0);
    }
    & + .project__bg {
      display: block;
    }
  }
  &__content {
    position: relative;
    margin-left: 25.6%;
  }
  &__canvas {
    min-width: 490px;
    min-height: 640px;
    display: inline-block;
    background-color: $color-3--4;
    box-shadow: 0 0 13px 1px $color-3--4;
    padding: 99px 20px 50px 245px;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in-out;
  }
  &__title-holder {
    @include flex-box(row, space-between, center);
    margin-bottom: 35px;
  }
  &__wrap {
    width: 680px;
    float: right;
    margin: 0 18% 63px 0;
    position: relative;
    z-index: 2;
  }
  .project__title {
    margin-bottom: 36px;
  }
  .project__subtitle {
    margin-bottom: 69%;
  }
  &__bg {
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    display: none;
    transition: all .2s ease-in-out;
  }
  &__img-holder {
    width: 339px;
    position: absolute;
    bottom: -29%;
    left: -11.5%;
    z-index: 1;
  }
  .link-line {
    width: 343px;
    font-size: $font-size-big + 6;
    color: $color-white;
    opacity: 0;
    margin-left: -10px;
    &:hover {
      color: $color-3--2;
      .link-line__overflow {
        &::after,
        &::before {
          background: $color-3--2;
        }
      }
      .link-line__text {
        color: $color-3--2;
      }
    }
    &::before,
    &::after {
      background: $color-white;
    }
    &__overflow {
      &::after,
      &::before {
        background: $color-white;
        top: 10px;
      }
    }
  }
  &--full-screen {
    padding: 10% 0;
    .project__bg {
      height: 100%;
      top: 0;
    }
  }
}

/** Zernobot project **/
.project-zernobot {
  padding-bottom: 10%;
  &__content {
    margin-bottom: 35%;
  }
  .project__canvas {
    background-color: $color-2--2;
    box-shadow: 0 0 13px 1px darken($color-2--2, 15%);
  }
  .project__title {
    color: $color-white;
  }
  .project__subtitle {
    color: $color-white;
  }
  .project__bg {
    background: url('../images/projects/zernobot-bg.png') 0 0 no-repeat;
    background-size: cover;
  }
}

/** Logbook **/
.project-logbook {
  position: relative;
  padding: 22% 0 5%;
  .project__content {
    margin-left: 0;
    @include clearfix;
  }
  .project__canvas {
    min-width: inherit;
    width: 35%;
    min-height: inherit;
    height: 85%;
    padding: 0;
    position: absolute;
    top: -18%;
    right: 13%;
  }
  .project__title {
    color: $color-2--1;
    line-height: normal;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .project__subtitle {
    color: $color-2--1;
    margin-bottom: 0;
  }
  .project__img-holder {
    max-width: 715px;
    width: auto;
    display: block;
    padding-left: 4.2%;
    margin: 0 auto;
    position: relative;
    bottom: inherit;
    left: inherit;
  }
  .link-line {
    color: $font-color;
    &::before,
    &::after {
      background: $font-color;
    }
    &__overflow {
      &::after,
      &::before {
        background: $font-color;
        top: 10px;
      }
    }
  }
  .project__bg {
    background: url('../images/projects/logbook-bg.png') 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .logbook-kia {
    width: 20%;
    position: absolute;
    top: 32%;
    left: 0;
  }
}

/** Street Quest **/
.project-street-quests {
  position: relative;
  padding: 8.3% 0 15.5%;
  .project__canvas {
    background-color: $color-3--3;
    box-shadow: 0 0 13px 1px darken($color-3--3, 15%);
  }
  .project__subtitle {
    color: $color-white;
    margin-bottom: 45%;
  }
  .project__bg {
    background: url('../images/projects/street-quest-bg.png') 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
