/**
 * Base projects styles
 */
.project {
  position: relative;
  margin-bottom: 100px;
  &:hover, &.active {
    .link-line {
      opacity: 1;
    }
    .project__canvas {
      &::after {
        opacity: 0;
      }
    }
    .project__bg {
      opacity: 1;
    }
  }
  &.active {
    .project__bg {
      display: block;
    }
    .project__canvas {
      box-shadow: none;
      background-color: rgba($color-2--2, 0);
    }
    & + .project__bg {
      display: block;
    }
  }
  &__content {
    position: relative;
    margin-left: 24.7%;
  }
  &__canvas {
    height: 640px;
    display: inline-block;
    padding: 99px 20px 50px 245px;
    position: relative;
    z-index: 1;
    &::after {
      content: '';
      width: 490px;
      height: 100%;
      background-color: $color-3--4;
      box-shadow: 0 0 13px 1px $color-3--4;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 1s ease-in-out;
    }
  }
  .mobile-project-link {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  &__title-holder {
    @include flex-box(row, space-between, center);
    margin-bottom: 35px;
  }
  &__wrap {
    width: 680px;
    float: right;
    margin: 0 18% 63px 0;
    position: relative;
    z-index: 2;
  }
  .project__title {
    margin-bottom: 36px;
  }
  .project__subtitle {
    margin-bottom: 69%;
  }
  &__bg {
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  &__img-holder {
    width: 332px;
    position: absolute;
    bottom: -29%;
    left: -11.5%;
    z-index: 1;
  }
  .link-line {
    width: 343px;
    font-size: $font-size-big + 6;
    color: $color-white;
    opacity: 0;
    margin-left: -10px;
    &:hover {
      color: $color-white;
      .link-line__overflow {
        &::after,
        &::before {
          background: $color-white;
        }
      }
      .link-line__text {
        color: $color-white;
      }
    }
    &::before,
    &::after {
      background: $color-white;
    }
    &__overflow {
      &::after,
      &::before {
        background: $color-white;
        top: 10px;
      }
    }
  }
  &--full-screen {
    padding: 10% 0;
    .project__bg {
      height: 100%;
      top: 0;
    }
  }
}

/** Zernobot project **/
.project-zernobot {
  padding-bottom: 10%;
  &:hover {
    .link-line {
      opacity: 0;
    }
    .project__canvas {
      &::after {
        opacity: 1;
      }
    }
    .project__bg {
      opacity: 0;
    }
  }
  .project__content {
    &:hover {
      .link-line {
        opacity: 1;
      }
      .project__canvas {
        &::after {
          opacity: 0;
        }
      }
      .project__bg {
        opacity: 1;
      }
    }
  }
  &.active {
    .project__content {
      .link-line {
        opacity: 1;
      }
      .project__canvas {
        &::after {
          opacity: 0;
        }
      }
      .project__bg {
        opacity: 1;
      }
    }
  }
  .project__canvas {
    &::after {
      background-color: $color-2--2;
      box-shadow: 0 0 13px 1px darken($color-2--2, 15%);
    }
  }
  .project__title {
    color: $color-white;
  }
  .project__subtitle {
    color: $color-white;
  }
  .project__bg {
    background: url('../images/projects/zernobot-bg.png') 0 0 no-repeat;
    background-size: cover;
  }
}

/** Logbook **/
.project-logbook {
  position: relative;
  padding: 22% 0 5%;
  .project__content {
    margin-left: 0;
    @include clearfix;
  }
  .project__canvas {
    min-width: inherit;
    width: 612px;
    min-height: inherit;
    height: 490px;
    padding: 0;
    position: absolute;
    top: -18%;
    right: 16.7%;
    &:after {
      width: 100%;
    }
  }
  .project__title {
    color: $color-2--1;
    line-height: normal;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .project__subtitle {
    color: $color-2--1;
    margin-bottom: 0;
  }
  .project__img-holder {
    max-width: 715px;
    width: auto;
    display: block;
    padding-left: 2.2%;
    margin: 0 auto;
    position: relative;
    bottom: inherit;
    left: inherit;
  }
  .link-line {
    color: $font-color;
    &:hover {
      color: $font-color;
      .link-line__overflow {
        &::after,
        &::before {
          background: $font-color;
        }
      }
      .link-line__text {
        color: $font-color;
      }
    }
    &::before,
    &::after {
      background: $font-color;
    }
    &__overflow {
      &::after,
      &::before {
        background: $font-color;
        top: 10px;
      }
    }
  }
  .project__bg {
    background: url('../images/projects/logbook-bg.png') 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .project__wrap {
    margin-right: 20.5%;
  }
  .logbook-kia {
    width: 20%;
    position: absolute;
    top: 32%;
    left: 0;
  }
}

/** Street Quest **/
.project-street-quests {
  position: relative;
  padding: 8.3% 0 15.5%;
  .project__canvas {
    &::after {
      background-color: $color-3--3;
      box-shadow: 0 0 13px 1px darken($color-3--3, 15%);
    }
  }
  .project__title {
    color: $color-1--2;
  }
  .project__subtitle {
    color: $color-white;
    margin-bottom: 45%;
  }
  .project__bg {
    background: url('../images/projects/street-quest-bg.png') 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@include respond-to(desktop) {
  .project {
    margin-bottom: 130px;
    &__content {
      margin-left: 28.5%;
    }
    &__bg {
      height: 100%;
    }
    &__img-holder {
      left: -18%;
    }
    .mobile-project-link {
      display: block;
    }
  }
}

@include respond-to(tablet) {
  .project {
    .link-line {
      display: none;
    }
    &__content {
      margin-left: 28.4%;
    }
    &.active,
    &:hover {
      .project__canvas {
        &::after{
          opacity: 1;
        }
      }
      .project__bg {
        opacity: 0;
      }
    }
  }
  .project-zernobot {
    .project__content {
      &.active , &:hover {
        .project__bg {
          opacity: 0;
        }
        .project__canvas {
          &::after {
            background-color: $color-2--2;
            box-shadow: 0 0 13px 1px darken($color-2--2, 15%);
            opacity: 1;
          }
        }
      }
    }
  }
  .project-logbook {
    .project__wrap {
      margin-right: 17.5%;
    }
    .mobile-project-link {
      height: 118%;
    }
  }
}

@include respond-to(tablet2) {
  .project {
    &__content {
      margin-left: 18%;
    }
  }
  .project-logbook {
    .project__wrap {
      margin-right: 4%;
    }
    .project__canvas {
      width: 574px;
      height: 420px;
      right: 7%;
    }
    .project__img-holder {
      padding-left: 0;
    }
  }
}

@include respond-to(mobile) {
  .project {
    &__content {
      width: 100%;
      margin: 0;
    }
    &__canvas {
      width: 100%;
      height: 440px;
      padding: 63px 10px 0 88px;
      &::after {
        width: 100%;
        height: 100%;
        box-shadow: none !important;
      }
    }
    .project__title {
      margin-bottom: 24px;
    }
    .project__subtitle {
      margin-bottom: 0;
    }
    &__img-holder {
      left: 4px;
      bottom: -110px;
    }
  }
  .project-logbook {
    .project__wrap {
      width: 100%;
      padding: 0  10px 0 88px;
      margin-right: 0;
      margin-bottom: 61px;
    }
    .project__canvas {
      width: 100%;
      height: 300px;
      right: 0;
    }
    .project__title-holder {
      margin: 0;
    }
    .project__title {
      margin-right: 10px;
    }
    .project__subtitle {
      margin-bottom: 0;
    }
    .project__img-holder {
      max-width: inherit;
      text-align: right;
    }
  }
}

@include respond-to(small-320) {
  .project {
    &__img-holder {
      width: 155px;
      bottom: -18%;
    }
  }
}