/**
 * Styles for projects pages
 */
.project-page {
  .header {
    display: none;
    &.fixed {
      display: flex;
    }
  }
  .container-holder {
    position: relative;
  }
  .intro-box {
    font-family: $font-light;
    font-size: $font-size-big;
    line-height: $font-size-big + 8;
    color: $font-color-3;
    &__date {
      font-size: $font-size-big + 6;
      color: $color-3--2;
      margin-bottom: 20px;
    }
  }
  .scroll-line {
    margin-top: -60px;
    @include respond-to(desktop) {
      margin-top: 35px;
    }
  }
  .title-row {
    margin-bottom: 132px;
  }
  .text-block {
    font-family: $font-light;
    font-size: $font-size-big;
    line-height: $font-size-big + 8;
    color: $font-color-3;
    h2 {
      margin-bottom: 60px;
    }
  }
}

.project-description {
  &-title {
    font-family: $font-light;
    font-size: $font-size-st;
    color: $color-3--1;
  }
}

@include respond-to(desktop) {
  .project-page {
    .container--resize {
      width: 70.4%;
    }
  }
}

@include respond-to(tablet) {
  .project-page {
    .container--resize {
      width: 68.7%;
    }
    .scroll-line {
      margin-top: 80px;
    }
  }
}

@include respond-to(tablet2) {
  .project-page {
    .grids {
      div {
        width: 24.5%;
        &:first-child,
        &:last-child {
          width: 10px;
        }
      }
    }
    .scroll-line {
      margin-top: 95px;
    }
    .container--resize {
      width: 100%;
    }
    .project__content {
      margin-left: 15%;
    }
    .text-block {
      font-size: $font-size + 4;
    }
  }
  .project-description {
    &-title {
      font-size: $font-size-lg;
    }
  }
}

@include respond-to(mobile) {
  .project-page {
    .scroll-line {
      margin-top: 60px;
    }
    .project {
      .project__canvas {
        &::after {
          opacity: 0 !important;
        }
      }
      .project__bg {
        opacity: 1 !important;
      }
    }
    .project__img-holder {
      left: 5px;
    }
    .project__title {
      font-size: $font-size-big + 4;
      margin-bottom: 22px;
    }
    .intro-box {
      font-size: $font-size;
      line-height: $font-size-big - 2;
      &__date {
        font-size: $font-size + 4;
      }
    }
    .text-block {
      font-size: $font-size + 2;
      line-height: $font-size-big + 2;
      h2 {
        margin-bottom: 32px;
      }
    }
    .title-row {
      margin-bottom: 42px;
    }
  }
  .project-description-title {
    font-size: $font-size-big + 2;
  }
}

@include respond-to(small) {

}
