/**
 * Styles for projects pages
 */
.project-page {
  .header {
    display: none;
    &.fixed {
      display: flex;
    }
  }
  .container-holder {
    position: relative;
  }
  .intro-box {
    font-family: $font-light;
    font-size: $font-size-big;
    line-height: $font-size-big + 8;
    color: $font-color-3;
    &__date {
      font-size: $font-size-big + 6;
      color: $color-3--2;
      margin-bottom: 20px;
    }
  }
  .scroll-line {
    margin-top: -60px;
  }
  .title-row {
    margin-bottom: 132px;
  }
  .text-block {
    font-family: $font-light;
    font-size: $font-size-big;
    line-height: $font-size-big + 8;
    color: $font-color-3;
    h2 {
      margin-bottom: 60px;
    }
  }
}
.project-description {
  &-title {
    font-family: $font-light;
    font-size: $font-size-st;
    color: $color-3--1;
  }
}
