/**
 * Styles for Style Guide blocks with colors and font description
 */
.style-guide {
  margin-bottom: 105px;
  @include respond-to(small) {
    margin-bottom: 43px;
  }
  &__top-row {
    margin: -60px 0 0 24.7%;
    .style-guide__title {
      text-align: center;
    }
  }
  &__title {
    margin-bottom: 60px;
    @include respond-to(tablet) {
      margin-bottom: 15px;
    }
    @include respond-to(mobile) {
      margin-bottom: 28px;
    }
  }
  .colors-blocks {
    @include flex-box(row, center, flex-start);
    padding: 60px 0 128px;
    @include respond-to(mobile) {
      padding: 0;
    }
    &__item {
      min-width: 304px;
      text-align: center;
      @include respond-to(tablet) {
        min-width: 252px;
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
      @include respond-to(tablet2) {
        width: 33.3%;
        min-width: inherit;
      }
      @include respond-to(mobile) {
        width: 23.3%;
      }
      @include respond-to(small) {
        width: 65px;
      }
    }
    &__circle,
    &__square{
      width: 180px;
      height: 180px;
      display: inline-block;
      border: 1px solid $color-3--2;
      background: $color-white;
      margin-bottom: 43px;
      @include respond-to(tablet) {
        width: 140px;
        height: 140px;
      }
      @include respond-to(tablet2) {
        margin-bottom: 28px;
      }
      @include respond-to(mobile) {
        width: 80px;
        height: 80px;
        margin-bottom: 12px;
      }
      @include respond-to(small) {
        width: 45px;
        height: 45px;
        margin-bottom: 12px;
      }
    }
    &__circle {
      border-radius: 50%;
    }
    &__text {
      font-size: $font-size-lg - 4;
      color: $font-color-3;
      letter-spacing: -.4px;
      @include respond-to(tablet2) {
        font-size: $font-size-big - 2;
      }
      @include respond-to(mobile) {
        font-size: $font-size - 2;
      }
    }
  }
  .font-block {
    color: $font-color-3;
    &__title {
      text-align: center;
      color: $font-color-3;
      padding-left: 24%;
      @include respond-to(desktop) {
        padding-left: 37%;
      }
      @include respond-to(tablet) {
        padding-left: 43.3%;
      }
      @include respond-to(mobile) {
        font-size: $font-size-big - 2;
        padding-left: 18.4%;
        margin-bottom: 29px;
      }
      @include respond-to(small) {
        text-align: left;
        padding-left: 0;
      }
    }
    &__subtitle {
      margin-bottom: 30px;
      @include respond-to(mobile) {
        margin-bottom: 12px;
      }
    }
    &__text-box {
      width: 48%;
      max-width: 590px;
      font-size: $font-size-lg - 4;
      margin-bottom: 15px;
      @include respond-to(tablet2) {
        font-size: $font-size-big;
      }
      @include respond-to(mobile) {
        font-size: $font-size;
      }
      @include respond-to(small) {
        width: 275px;
        float: none;
        margin: 0 0 22px;
      }
      &--light {
        font-family: $font-light;
      }
      &--bold {
        width: 50%;
        max-width: 612px;
        font-family: $font-bold;
        margin-top: 120px;
        @include respond-to(desktop) {
          width: 48%;
        }
        @include respond-to(mobile) {
          width: 275px;
          margin: 0 0 22px;
        }
      }
      &.pull-right {
        margin-right: 1.9%;
      }
    }
    p {
      letter-spacing: -1.6px;
      margin-bottom: 10px;
      @include respond-to(mobile) {
        letter-spacing: 0;
      }
    }
  }
  &--zernobot {
    .style-guide__top-row {
      .style-guide__title {
        padding-right: 18%;
        @include respond-to(desktop) {
          padding-right: 0;
          padding-left: 17%;
        }
        @include respond-to(tablet) {
          padding-left: 20.1%;
        }
        @include respond-to(tablet2) {
          padding-left: 12.3%;
        }
        @include respond-to(mobile) {
          padding-left: 10.2%;
        }
        @include respond-to(small) {
          padding-left: 26.5%;
        }
      }
    }
    .colors-blocks__item-1 {
      .colors-blocks__circle {
        background: linear-gradient(to bottom, #072c2c, #0a8383);
        border-color: transparent;
      }
    }
    .colors-blocks__item-2 {
      .colors-blocks__circle {
        background: $color-3--5;
      }
    }
  }
}