/**
 * Styles for Zernobot project page
 */
.zernobot-project-page {
  .project-zernobot {
    margin: 0;
    .project__content {
      padding-bottom: 9%;
      margin-bottom: 43px;
    }
    .project__bg {
      height: 110%;
    }
    .project__canvas {
      height: 520px;
      min-height: inherit;
      padding-top: 175px;
    }
  }
  .intro-box {
    max-width: 320px;
    float: right;
    margin-right: 20.8%;
  }
  .project-main-image {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
  }
  .gradient-block {
    width: 50%;
    height: 27%;
    max-height: 850px;
    position: absolute;
    background: rgb(28,97,138);
    background: -moz-linear-gradient(top, rgb(28,97,138) 0%, rgb(46,98,111) 25%, rgb(61,110,115) 50%, rgb(71,121,122) 75%, rgb(79,128,124) 100%);
    background: -webkit-linear-gradient(top, rgb(28,97,138) 0%,rgb(46,98,111) 25%,rgb(61,110,115) 50%,rgb(71,121,122) 75%,rgb(79,128,124) 100%);
    background: linear-gradient(to bottom, rgb(28,97,138) 0%,rgb(46,98,111) 25%,rgb(61,110,115) 50%,rgb(71,121,122) 75%,rgb(79,128,124) 100%);
    &--left {
      top: 14%;
      left: 0;
    }
    &--right {
      bottom: 20%;
      right: 0;
    }
  }
  .image-block {
    width: 55%;
    display: block;
    margin-top: -11%;
    img {
      width: 100%;
    }
  }
}

@include respond-to(desktop) {
  .zernobot-project-page {
    .project-zernobot {
      .project__canvas {
        height: 415px;
      }
    }
    .intro-box {
      margin-right: 15.1%;
    }
    .image-block {
      margin-top: -23%;
    }
    .style-guide__top-row {
      margin: -50px 0 0;
    }
  }
}

@include respond-to(tablet) {
  .zernobot-project-page {
    .project-zernobot {
      .project__canvas {
        height: 550px;
      }
    }
    .intro-box {
      margin-right: 10.5%;
    }
    .image-block {
      margin-top: -23%;
    }
  }
}

@include respond-to(tablet2) {
  .zernobot-project-page {
    .intro-box {
      margin-right: 22.8%;
    }
    .project-main-image {
      margin: 0 13px;
    }
    .image-block {
      margin-top: -23%;
    }
    .project-zernobot {
      .project__content {
        padding-bottom: 65px;
        padding-left: 36px;
        margin-bottom: 110px;
        margin-left: 0;
      }
      .project__canvas {
        height: 382px;
        padding-top: 90px;
        padding-left: 30%;
      }
      .project__bg {
        height: 100%;
        top: 0;
        bottom: inherit;
        background-position: 36px 0;
      }
    }
    .project__img-holder {
      width: 26.4%;
      left: 2px;
      bottom: -41%;
    }
    .style-guide {
      .font-block__title {
        padding-left: 27%;
      }
    }
  }
}

@include respond-to(mobile) {
  .zernobot-project-page {
    .home-section {
      overflow: hidden;
    }
    .project-zernobot {
      .project__canvas {
        height: 333px;
      }
    }
    .intro-box {
      margin-right: 31.9%;
    }
    .style-guide {
      .font-block__title {
        padding-left: 18.7%;
      }
    }
    .gradient-block {
      &--right,
      &--left {
        height: 183px;
      }
      &--left {
        top: 190px;
      }
      &--right {
        bottom: 150px;
      }
    }
    .image-block {
      margin-top: -20%;
    }
    .style-guide__top-row {
      margin-top: -26px;
      margin-bottom: 42px;
    }
  }
}

@include respond-to(small) {
  .zernobot-project-page {
    .project-zernobot {
      .project__canvas {
        height: 240px;
        padding-left: 43%;
      }
    }
    .project__img-holder {
      width: 44.4%;
      left: 3px;
      bottom: -70%;
    }
    .style-guide {
      .font-block__title {
        padding-left: 24.9%;
      }
    }
    .intro-box {
      margin-right: 8%;
      &__date {
        margin-bottom: 18px;
      }
    }
  }
}

@include respond-to(small-320) {
  .zernobot-project-page {
    .project-zernobot {
      .project__content {
        padding-bottom: 0;
        margin-bottom: 85px;
      }
      .project__canvas {
        height: auto;
        padding-top: 76px;
        padding-bottom: 59.5%;
      }
      .project__bg {
        background: url('../images/zernobot/zernobot-bg-mobile.png') 0 0 no-repeat;
        background-size: cover;
        width: 88.8%;
        bottom: inherit;
        left: inherit;
        right: 0;
      }
    }
    .project__img-holder {
      width: 126px;
      bottom: -60px;
    }
    .intro-box {
      margin-right: 5.9%;
    }
  }
}
