<div class="grids">
    <div><span data-aos="grid-loading" data-aos-duration="100"></span></div>
    <div><span data-aos="grid-loading" data-aos-duration="100"></span></div>
    <div><span data-aos="grid-loading" data-aos-duration="100"></span></div>
    <div><span data-aos="grid-loading" data-aos-duration="100"></span></div>
    <div><span data-aos="grid-loading" data-aos-duration="100"></span></div>
    <div><span data-aos="grid-loading" data-aos-duration="100"></span></div>
</div>
<div class="wrapper">
    <div class="site-guide">
        <div id="currentSection" class="site-guide__number"></div>
        <div id="sectionName" class="site-guide__section-name"></div>
        <div id="sectionCount" class="site-guide__number"></div>
    </div>
    <section id="homeSection" class="site-section home-section" data-name="Home" data-number="1">
        <header id="header" class="header">
            <a href="#" class="home link-line link-line--left go-to-top">
            <span class="link-line__overflow">
                <span class="link-line__text">Home</span>
            </span>
            </a>
            <a href="#" class="logo go-to-top">
                <img src="images/logo.svg" alt="Logo">
            </a>
            <a href="templates/about.html" class="about link-line link-line--right">
            <span class="link-line__overflow">
                <span class="link-line__text">About</span>
            </span>
            </a>
        </header>
        <div class="main-title-holder">
            <h1 id="mainTitle" class="main-title">
                <span class="fade-1"
                      data-aos="fade-zoom-in"
                      data-aos-easing="ease-in-out"
                      data-aos-duration="700"
                      data-aos-delay="800">Hi! My name
            </span>
                <span class="fade-2"
                      data-aos="fade-zoom-in"
                      data-aos-easing="ease-in-out"
                      data-aos-duration="700"
                      data-aos-delay="900"
                      data-aos-offset="0">is Daria Doroshenkova
            </span><br>
                <span class="fade-3"
                      data-aos="fade-zoom-in"
                      data-aos-easing="ease-in-out"
                      data-aos-duration="700"
                      data-aos-delay="1000"
                      data-aos-offset="0">and I'm a mobile
            </span>
                <span class="fade-4"
                      data-aos="fade-zoom-in"
                      data-aos-easing="ease-in-out"
                      data-aos-duration="700"
                      data-aos-delay="1100"
                      data-aos-offset="0">& web UI/UX designer
            </span>
            </h1>
        </div>
        <div class="scroll-line" data-aos="animate-scroll" data-aos-offset="0"></div>
    </section>
    <section class="site-section" data-name="Work" data-number="2">
        <div class="project project-zernobot"
             data-aos="fade-zoom-in"
             data-aos-easing="ease-in-out"
             data-aos-duration="1000"
             data-aos-delay="500"
             data-aos-offset="0">
            <div class="project__content">
                <div class="project__canvas">
                    <h2 class="project__title">Zernobot</h2>
                    <h5 class="project__subtitle">Landing page</h5>
                    <a href="zernobot.html" class="link-line link-line--right">
                        <span class="link-line__overflow">
                            <span class="link-line__text">View the project</span>
                        </span>
                    </a>
                </div>
                <div class="project__bg"></div>
                <picture class="project__img-holder">
                    <source media="(min-width: 769px)" srcset="images/projects/mockup_1.png">
                    <img src="images/projects/mockup_1_mobile.png" alt="Zernobot image">
                </picture>
            </div>
        </div>
        <div class="project project--full-screen project-logbook"
             data-aos="fade-zoom-in"
             data-aos-easing="ease-in-out"
             data-aos-duration="1000"
             data-aos-delay="500"
             data-aos-offset="0">
            <div class="project__content">
                <div class="project__canvas"></div>
                <div class="project__wrap">
                    <div class="project__title-holder">
                        <h2 class="project__title">Logbook</h2>
                        <a href="#" class="link-line link-line--right">
                        <span class="link-line__overflow">
                            <span class="link-line__text">View the project</span>
                        </span>
                        </a>
                    </div>
                    <h5 class="project__subtitle">Tablet App</h5>
                </div>
                <picture class="project__img-holder">
                    <source media="(min-width: 769px)" srcset="images/projects/mockup_2.png">
                    <img src="images/projects/mockup_2_mobile.png" alt="Logbook image">
                </picture>
            </div>
            <div class="project__bg">
                <div class="logbook-kia">
                    <img src="images/projects/logbook-kia.png" alt="Kia">
                </div>
            </div>
        </div>
        <div class="project project--full-screen project-street-quests"
             data-aos="fade-zoom-in"
             data-aos-easing="ease-in-out"
             data-aos-duration="1000"
             data-aos-delay="500"
             data-aos-offset="0">
            <div class="project__content">
                <div class="project__canvas">
                    <h2 class="project__title">Street Quests</h2>
                    <h5 class="project__subtitle">Mobile App</h5>
                    <a href="#" class="link-line link-line--right">
                        <span class="link-line__overflow">
                            <span class="link-line__text">View the project</span>
                        </span>
                    </a>
                </div>
                <picture class="project__img-holder">
                    <source media="(min-width: 769px)" srcset="images/projects/mockup_3.png">
                    <img src="images/projects/mockup_3_mobile.png" alt="Zernobot image">
                </picture>
            </div>
            <div class="project__bg"></div>
        </div>
    </section>
    <section class="site-section contacts" data-name="Contacts" data-number="3">
        <div class="container container--resize">
            <div class="contacts__info">
                <h2 class="contacts__title"
                    data-aos="fade-zoom-in"
                    data-aos-easing="ease-in-out"
                    data-aos-duration="1000"
                    data-aos-delay="500"
                    data-aos-offset="0">Say Hello to me<br> the way you like!</h2>
                <div class="contacts__cols-wrap">
                    <div class="contacts__col">
                        <h4 class="contacts__subtitle">Contact</h4>
                        <ul>
                            <li><a href="mailto:daria.doroshenkova@gmail.com">daria.doroshenkova@gmail.com</a></li>
                            <li><a href="tel:+380631903299">+38 (063) 190 32 99</a></li>
                        </ul>
                    </div>
                    <div class="contacts__col">
                        <h4 class="contacts__subtitle">Social media</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/daria.doroshenkova" target="_blank">Facebook</a></li>
                            <li><a href="https://www.instagram.com/daria.doroshenkova/" target="_blank">Instagram</a></li>
                            <li><a href="https://www.behance.net/dariakhudenko" target="_blank">Behance</a></li>
                            <li><a href="https://www.linkedin.com/in/daria-doroshenkova-04950311a/" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="feedback-form">
                <form action="#">
                    <label class="form-group">
                        <span class="label-text">Name</span>
                        <input type="text" class="form-field" placeholder="Name" required>
                    </label>
                    <label class="form-group">
                        <span class="label-text">E-mail</span>
                        <input type="email" class="form-field" placeholder="E-mail" required>
                    </label>
                    <label class="form-group form-group">
                        <span class="label-text">Message</span>
                        <textarea class="form-field form-field--textarea" placeholder="Message" required></textarea>
                    </label>
                    <button type="submit" class="link-line link-line--right">
                        <span class="link-line__overflow">
                            <span class="link-line__text">Send</span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container container--resize footer__content">
            <div class="copyright">&copy; 2017 Daria Doroshenkova. All rights reserved</div>
            <div class="made-by">
                Made by Daria Doroshenkova
            </div>
        </div>
    </footer>
</div>