<div class="wrapper">
    <section class="home-section">
        <header id="header" class="header">
            <a href="#" class="home link-line link-line--left go-to-top">
            <span class="link-line__overflow">
                <span class="link-line__text">Home</span>
            </span>
            </a>
            <a href="#" class="logo">
                <img src="../images/logo.svg" alt="Logo">
            </a>
            <a href="about.html" class="about link-line link-line--right">
            <span class="link-line__overflow">
                <span class="link-line__text">About</span>
            </span>
            </a>
        </header>
        <div class="project project-zernobot active"
             data-aos="fade-zoom-in"
             data-aos-easing="ease-in-out"
             data-aos-duration="1000"
             data-aos-delay="500"
             data-aos-offset="0">
            <div class="project__content">
                <div class="project__canvas">
                    <h2 class="project__title">Zernobot</h2>
                    <h5 class="project__subtitle">Landing page</h5>
                    <a href="zernobot.html" class="link-line link-line--right">
                        <span class="link-line__overflow">
                            <span class="link-line__text">View the project</span>
                        </span>
                    </a>
                </div>
                <div class="project__bg"></div>
                <picture class="project__img-holder">
                    <source media="(min-width: 769px)" srcset="images/projects/mockup_1.png">
                    <img src="../images/projects/mockup_1_mobile.png" alt="Zernobot image">
                </picture>
            </div>
        </div>
        <div class="scroll-line fixed-header-flag" data-aos="animate-scroll" data-aos-offset="0"></div>
    </section>
    <section class="site-section" style="height: 1000px;">

    </section>
    <footer class="footer">

    </footer>
</div>
<script src="../vendor/js/jquery.min.js"></script>
<script src="../vendor/js/aos.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>