@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin flex-box($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin respond-to($media) {
  @if $media == small-320 {
    @media only screen and (max-width: $small-320) { @content; }
  }
  @if $media == small {
    @media only screen and (max-width: $small) { @content; }
  }
  @if $media == mobile {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $tablet) { @content; }
  }
  @else if $media == tablet2 {
    @media only screen and (max-width: $tablet2) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $desktop) { @content; }
  }
}