$font-regular: 'Ubuntu-Regular', sans-serif;
$font-regular-italic: 'Ubuntu-Italic', sans-serif;
$font-medium: 'Ubuntu-Medium', sans-serif;
$font-medium-italic: 'Ubuntu-MediumItalic', sans-serif;
$font-light: 'Ubuntu-Light', sans-serif;
$font-light-italic: 'Ubuntu-LightItalic', sans-serif;
$font-bold: 'Ubuntu-Bold', sans-serif;
$font-bold-italic: 'Ubuntu-BoldItalic', sans-serif;

$font-size: 14px;
$font-size-big: 24px;
$font-size-lg: 36px;
$font-size-st: 48px;
$font-size-most-large: 72px;

$font-color: #2c2c2c;
$font-color-2: #656565;
$font-color-3: #605858;

$color-white: #fff;
$color-black: #000;

$color-1--1: #efbc94;
$color-1--2: #ff9933;
$color-1--3: #b92d00;

$color-2--1: #0084a6;
$color-2--2: #194957;
$color-2--3: #00beee;

$color-3--1: #d5d5d5;
$color-3--2: #95989a;
$color-3--3: #2c2c2c;
$color-3--4: #f2f2f2;
$color-3--5: #f3f5f5;
$color-3--6: #222325;

$desktop: 1200px;
$tablet: 1024px;
$mobile: 768px;
$small: 480px;