$font-regular: 'Ubuntu-Regular', sans-serif;
$font-regular-italic: 'Ubuntu-Italic', sans-serif;
$font-medium: 'Ubuntu-Medium', sans-serif;
$font-medium-italic: 'Ubuntu-MediumItalic', sans-serif;
$font-light: 'Ubuntu-Light', sans-serif;
$font-light-italic: 'Ubuntu-LightItalic', sans-serif;
$font-bold: 'Ubuntu-Bold', sans-serif;
$font-bold-italic: 'Ubuntu-BoldItalic', sans-serif;

$font-size: 14px;

$font-color: #2c2c2c;

$color-white: #fff;
$color-black: #000;

$color-1--1: #efbc94;
$color-1--2: #ff9934;
$color-1--3: #b92d00;

$color-2--1: #0084a5;
$color-2--2: #194957;

$color-3--1: #d5d5d5;
$color-3--2: #95989a;

